<div class="jumbotron" style="margin-top: 1em">
  <h1 class="display-4">Archive of Our Own</h1>
  <p class="lead">A fan-created, fan-run, nonprofit, noncommercial archive for transformative fanworks, like fanfiction, fanart, fan videos, and podfic</p>
  <hr class="my-4">
  <p>The Archive of Our Own is a project of the Organization for Transformative Works.</p>
  <p><a href="#">Learn more</a></p>

  <form class="form-inline" id="fandom-search-main">
    <input class="form-control" type="search" placeholder="Find your fandom" aria-label="Search">
    <button class="btn btn-secondary" type="submit">Go</button>
  </form>
</div>
