<nav class="navbar navbar-expand-lg" id="main-nav">
  <a class="navbar-brand" href="/">AO3</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Find
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/fandoms">Fandoms</a>
          <a class="dropdown-item" href="/works">Works</a>
          <a class="dropdown-item" href="/bookmarks">Bookmarks</a>
          <a class="dropdown-item" href="/people">People</a>
          <a class="dropdown-item" href="/tags">Tags</a>
          <a class="dropdown-item" href="/collections">Collections</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">About Us</a>
          <a class="dropdown-item" href="#">News</a>
          <a class="dropdown-item" href="#">FAQ</a>
          <a class="dropdown-item" href="#">Donate or Volunteer</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav justify-content-end">
      <% if current_user %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.login %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Dashboard</a>
            <a class="dropdown-item" href="#">Inbox</a>
            <a class="dropdown-item" href="#">Post a Work</a>
            <div class="dropdown-divider"></div>
            <%= link_to "Log Out", destroy_user_session_path, class: 'dropdown-item', method: :delete %>
          </div>
        </li>
      <% else %>
         <li class="nav-item">
          <%= link_to "Log in", new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>